body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8e6e9;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6f61;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#trickyButton {
    background: linear-gradient(45deg, #ff6f61, #ff3b2f);
}

#trickyButton:hover .stars {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.clickable {
    background: linear-gradient(45deg, #6fccff, #2fbbff);
}

.clickable:hover {
    background: linear-gradient(45deg, #2fbbff, #6fccff);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
